<div id="main_nav" >       
<div id="nav1">
    <br>
    <ul>
        <li style="font-family: 'Heebo', sans-serif;font-size: 42px ;font-weight: 400;margin-left: -0.5cm;"> THE VIBE</li>
        <li style=" margin-left:0.4cm;">
           <a [routerLink]="['/home']">HOME</a>
        </li>
        <li>
            <a [routerLink]="['/gyms']">OUR GYMS</a>  
        </li>
        <li>MEMBERSHIP</li> 
        <li style="margin-left:11cm"><a [routerLink]="['/join']">JOIN</a></li>
        <li> | </li>
       <li> <a [routerLink]="['/login']">LOGIN</a></li>
        <li> | </li>
        <li> <a [routerLink]="['/binding']">BINDING</a></li>
    </ul>  
</div>
</div>
