<html>
    <head>
        <script>
            </script>
    </head>

<body>
    
<div class="card red">
    <div class="card__square"></div>
    <div class="card__square2"></div>
    <div class="card__square3"></div> 
    <div class="card__square4"></div>
    <figure class="card__contentimage">
      <img src="../../assets/portfolio/11.jpg" alt="">
    </figure>
    <div class="card__squareCenter">
      <a href="#" class="card__btn">White Sauce Pasta</a>      
    </div>
  </div>
  
  <div class="card green">
    <div class="card__square"></div>
    <div class="card__square2"></div>
    <div class="card__square3"></div> 
    <div class="card__square4"></div>
    <figure class="card__contentimage">
      <img src="../../assets/portfolio/5.jpg" alt="">
    </figure>
    <div class="card__squareCenter"><a href="#" class="card__btn">Chilli Panner</a></div>
  </div>	
  
  <div class="card yellow">
    <div class="card__square"></div>
    <div class="card__square2"></div>
    <div class="card__square3"></div> 
    <div class="card__square4"></div>
    <figure class="card__contentimage">
      <img src="../../assets/portfolio/13.jpg" alt="">
    </figure>
    <div class="card__squareCenter">
    <a href="#" class="card__btn">Egg roll</a>
    </div>
  </div>	
  
  
  
  
</body>
</html>