<div class="container">
    <div class="card">
      <div class="img-container">
        <img src="../../assets/team1.jpg" alt=""/>
      </div>
      <div class="card-details">
        <h2>Rahul Ranjan</h2>
        <h3>Post : Developer </h3>
        <ul class="social-profile">
                <li><a href="https://www.facebook.com/rahul.ranjanchoudhary.5"> <i class="fa fa-facebook fa-lg"></i> Facebook</a></li><br>
                <li><a href="https://www.instagram.com/rahul_choudhary7210/?hl=en"><i class="fa fa-instagram fa-lg"></i>Instagram</a></li><br>
                <li><a href="https://twitter.com/RahulRa54553069"><i class="fa fa-twitter fa-lg"></i>Twitter</a></li>
              </ul>
              
      </div>
    </div>
     <div class="card">
      <div class="img-container">
        <img src="../../assets/team2.jpg" alt=""/>
      </div>
      <div class="card-details">
            <h2>Jai Jha</h2>
            <h3>Post : Developer </h3>
            <ul class="social-profile">
                    <li><a href="https://www.facebook.com/jainarayan.jha"><i class="fa fa-facebook fa-lg"></i>Facebook</a></li><br>
                    <li><a href="https://www.instagram.com/jay_zha/?hl=en"><i class="fa fa-instagram fa-lg"></i>Instagram</a></li><br>
                    <li><a href="https://twitter.com/Jayjha10?s=08"><i class="fa fa-twitter fa-lg"></i>Twitter</a></li>
                  </ul>
          </div>
     
     
    </div>
    </div>