#slstudios{
    font-family:Oswald;
    font-size:72px;
    color:coral; 
    
  }
  /* Grid */
  .grid__item {
      height: calc(100vh - 280px);
      min-height: 260px;
      max-width: calc(100vw - 40px);
      background: #DDD;
      margin: 10px;
      padding: 100px 0;
      z-index: 1;
      position: relative;
      text-align: center;
      display: -webkit-flex;
      display: flex;
      -webkit-align-items: center;
      align-items: center;
      -webkit-justify-content: center;
      justify-content: center;
      /* -webkit-transform: translate3d(0,0,0); Solves Safari bug because of SVG clipping mask */
  }
  
  .grid__item p {
      font-size: 1.5em;
      font-weight: bold;
      color: #777;
  }
  
  /* Background colors */
  .color-1 { background: #E8E0DA; }
  .color-2 { background: #576b67; }
  .color-3 { background: #383A35; }
  .color-4 { background: #333; }
  .color-5 { background: #fda9a9; }
  .color-7 { background: #cde7d3; }
  .color-8 { background: #DCECDD; }
  
  
  .media-item {
      display: inline-block;
      padding: 1em;
      vertical-align: top;
      -webkit-transition: color 0.3s;
      transition: color 0.3s;
  }
  
  .media-item__img {
      max-width: 100%;
      opacity: 0.3;
      -webkit-transition: opacity 0.3s;
      transition: opacity 0.3s;
  }
  
  .media-item:hover .media-item__img,
  .media-item:focus .media-item__img {
      opacity: 1;
  }
  
  .media-item__title {
      margin: 0;
      padding: 0.5em;
      font-size: 1em;
  }
  
  body #cdawrap {
      top: 40px;
      right: 40px;
      border: none;
  }
  
  @media screen and (max-width: 50em) {
      .codrops-header {
          padding: 3em 10% 4em;
      }
      .grid__item {
          width: 100%;
      }
  }
  
  @media screen and (max-width: 40em) {
      .codrops-header h1 {
          font-size: 1.85em;
      }
  }
  
  /* Nukun */
  .link--nukun {
      color: #E3E8DC;
      font-weight: 900;
      text-transform: uppercase;
      overflow: hidden;
      padding: 10px 0;
      -webkit-transition: color 0.3s;
      transition: color 0.3s;
  }
  
  .link--nukun:hover {
      color: #1e1a1b;
  }
  
  .link--nukun::before,
  .link--nukun::after {
      content: '';
      position: absolute;
      width: 40%;
    top:60%;
      height: 5px;
      background: #E3E8DC;
      bottom: 0;
      left: 30%;
      -webkit-transition: -webkit-transform 0.5s;
      transition: transform 0.5s;
      -webkit-transition-timing-function: cubic-bezier(0.2,1,0.3,1);
      transition-timing-function: cubic-bezier(0.2,1,0.3,1);
  }
  
  .link--nukun::after {
      background: coral;
      -webkit-transform: translate3d(-300%,0,0) scale3d(0,1,1);
      transform: translate3d(-300%,0,0) scale3d(0,1,1);
  }
  
  .link--nukun:hover::before {
      -webkit-transform: translate3d(300%,0,0) scale3d(0,1,1);
      transform: translate3d(300%,0,0) scale3d(0,1,1);
  }
  
  .link--nukun:hover::after {
      -webkit-transform: translate3d(0,0,0) scale3d(1,1,1);
      transform: translate3d(0,0,0) scale3d(1,1,1);
  }
  
  .link--nukun span {
      color: #E3E8DC;
      display: inline-block;
      position: relative;
      -webkit-transform: perspective(1000px) rotate3d(0,1,0,0deg);
      transform: perspective(1000px) rotate3d(0,1,0,0deg);
      -webkit-transition: -webkit-transform 0.5s, color 0.5s;
      transition: transform 0.5s, color 0.5s;
      -webkit-transition-timing-function: cubic-bezier(0.2,1,0.3,1);
      transition-timing-function: cubic-bezier(0.2,1,0.3,1);
  }
  
  .link--nukun:hover span {
      color: #fff;
      -webkit-transform: perspective(1000px) rotate3d(0,1,0,180deg);
      transform: perspective(1000px) rotate3d(0,1,0,180deg);
  }
  


  