.main_background{
    background-image: url(../../assets/images/bgdiet3.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height:30cm;
}
h1{
    color: white;
    margin-left: 8.5cm;
    font-size: 75px;
    font-family:'Black Ops One', cursive;
}
.btn{
    background-color: rgba(0, 0, 0, 0.4);
    margin-left: 4cm;
    color: white;
    padding: 10px 30px 10px 30px;
    font-weight: bold;
}
.btn:hover{
    background-color: rgba(0,0,0.5);
}
table{
    height: 100px;
    width: 1000px;
    background-color: white;
    margin-left: 9cm;
    text-align: center;
    font-size: 18px;
}
img{
    margin-top: 1.6cm;
}