<app-admindashboard> </app-admindashboard>
<app-header2> </app-header2> 
<div class="row">
        <div class="col-3" *ngFor="let obj of arr">
            <div class="card" style="width: 18rem; "  >
                    <img class="card-img-top"
                     src="{{obj.imageLink}}" alt="Card image cap">
                    <div class="card-body">
                        <h5 class="card-title">Name : {{obj.name}}</h5>
                        <p class="card-text">Email : {{obj.email}}</p>
                        <p class="card-text">Canteen name : {{obj.canteenname}}</p>
                        <p class="card-text">Phone : {{obj.phone}}</p>
                        <p class="card-text">Password : {{obj.password}}</p>
                        <p class="card-text">Address : {{obj.address}}</p>
                        <a href="#" class="btn btn-primary">
                            {{obj.password}}</a>
     
             <button (click)="delData(obj._id)">Delete</button>
                    </div>
                </div>
         
