
<div *ngFor='let obj of arr' style="background-image: url(../../assets/images/bgjoin.jpg); background-repeat: no-repeat;background-size: cover;">

<div class="registration">
<div class="col-md-10"> 
    <br> <br> <br> <br> <br>
    <form style="margin-left:5.5cm;">
            <h2 style="margin-left: 1.3cm;">UPDATE THE REQUIRED FIELDS</h2> 
            <br>        
            <label for="inputName">Name</label>
            <input type="text" class="form-control" [(ngModel)]="obj.name" name="name"  placeholder={{obj.name}}>  
       <br> 
                <label for="inputEmail4">Email</label>
                <input type="email" class="form-control" id="inputEmail4" [(ngModel)]="obj.email" placeholder={{obj.email}} name="email">
       <br>     
                <label for="inputPassword4">Password</label>
                 <input type="password" class="form-control" id="inputPassword4" [(ngModel)]="obj.password" placeholder={{obj.password}} name="password">
            <div class="row">
            <div class="col-md-4" style="margin-left: 2.0cm;">
                <br>
                <label for="inputWeight">Weight</label>
                <input type="text" class="form-control" id="inputWeight" [(ngModel)]="obj.weight" name="weight" placeholder={{obj.weight}}>
            </div>
            <div class="col-md-4">
                <br>
                <label for="inputHeight">Height</label>
                <input type="text" class="form-control" id="inputHeight" name="height" [(ngModel)]="obj.height"  placeholder={{obj.height}}>
            </div>
            </div>
            <br>
        <button   type="submit" class="btn btn-primary" (click)="up_data(obj.name,obj.email,obj.password,obj.weight,obj.height,obj._id)" style="margin-left: 4.7cm;">Update</button>
    <br>
    <br>
    <button   type="submit" class="btn btn-primary" (click)="delData(obj._id)" style="margin-left: 4.7cm;">Delete</button>
    </form>

</div>
</div>

</div>