<div id="conteudo">
  
    <div class="card card-1">
     <div id="layer">
       <button id="add">Momos</button> 
       <!-- <button id="comprar">Momos</button> -->
     </div>
    </div>
     
     <div class="card card-2">
     <div id="layer">
       <button id="add">Burger</button>
       <!-- <button id="comprar">Comprar O Produto</button> -->
     </div>
    </div>
     
     <div class="card card-3">
     <div id="layer">
       <button id="add">Samosa</button>
       <!-- <button id="comprar">Comprar O Produto</button> -->
     </div>
    </div>
    <div class="card card-4">
        <div id="layer">
          <button id="add">Chowmein</button>
          <!-- <button id="comprar">Comprar O Produto</button> -->
        </div>
       </div>
        <br>
      
     
   </div>