
<section>
<div id="content_1" class="animated" animateOnScroll animationName="fadeIn" >
  <div class="row" >    
    <div class="col-md-6 col-sm-2">
            <img src="../../assets/images/offer.gif" height="650px" width="850">
    </div>
    <div class="col-md-6 col-sm-2">
            <img src="../../assets/images/intro1.jpg" height="650px" width="776px">
    </div>
  </div>
</div>
</section>  
<br>


<section>
<div class="content_2">
      <div class="animated" animateOnScroll animationName="fadeInRight">
            <img src="../../assets/images/yoga.jpg" width="650px" height="450px" style="margin-left:23cm; margin-top:4cm;" >
      </div>   
          <div class="headline">
              <h4 class="animated" animateOnScroll animationName="fadeInUp" style="font-size:30px; color:#000; margin-left:4cm; font-weight: 800; margin-top:-8cm;letter-spacing: 0.1em;font-family: 'Roboto Slab', serif;">
                Get A Healthy Lifestyle With VIBE
              </h4>
              <p class="animated" animateOnScroll animationName="fadeIn" style="font-size:16px; margin-top: 25px; color:#000000; font-weight: 400; margin-left: 1.7cm; letter-spacing: 0.04cm;;">Unlimited Group Fitness is just the beginning. Discover all the ways you could unlock your <br>
              <p class="animated" animateOnScroll animationName="fadeIn" style="font-size:16px; margin-top: -5px; color:#000000; font-weight: 400; margin-left: 2cm; letter-spacing: 0.04cm;">potential with a VIBE membership -including luxe amenities and exceptional services.
          </div>  
</div>
</section>

<section>
    <div class="row" id=content_3 style="margin-top: 10cm;">
           
       <div class="col-md-4 col-sm-2 col-lg-3">  
           <div class="animated" animateOnScroll animationName="fadeInUp" class="shadow-lg p-3 mb-5 bg-white rounded"  style="height:18cm; width: 10cm;margin-left:4cm; ">
                 <img src="../../assets/images/consult.jpg" height="275px" width="378px" style="margin-left: -16px; margin-top:-15px; ">
                 <h3 style="text-align: center;font-family: 'Noto Sans', sans-serif; margin-top: 1cm;letter-spacing: 3px">FITNESS <br> CONSULTATION</h3>
                 <p style="margin-top:0.5cm; line-height: 35px; ">Through a short survey, conversation and a movement assessment,our team will prescribe the perfect program to get you started and on track to meet your fitness goals.
           </div>   
       </div>
 
       <div class="col-md-4 col-sm-2 col-lg-3"> 
           <div class="animated" animateOnScroll animationName="fadeInUp" class="shadow-lg p-3 mb-5 bg-white rounded" style="height:18cm; width: 10cm;margin-left:5cm;  ">
               <img src="../../assets/images/bodybuilding.jpg" height="275px" width="378px" style="margin-left:-16px; margin-top:-15px">
               <h3 style="text-align: center;font-family: 'Noto Sans', sans-serif; margin-top: 1cm;letter-spacing: 3px">FULL BODY<br> WORKOUT</h3>
               <p style="margin-top:0.5cm; line-height: 35px;">Full-body workouts designed to build strength and endurance, using the energy of the group and the expertise of the certified personal trainer to maximize your results.
           </div>
       </div>
       
       <div class="col-md-4 col-sm-2 col-lg-3" > 
           <div class="animated" animateOnScroll animationName="fadeInUp" class="shadow-lg p-3 mb-5 bg-white rounded" style="height:18cm; width: 10cm;margin-left:6.1cm; ">
               <img src="../../assets/images/PT.jpg" height="275px" width="378px" style="margin-left:-16px; margin-top:-15px">
               <h3 style="text-align: center;font-family: 'Noto Sans', sans-serif; margin-top: 1cm; letter-spacing: 3px">PERSONAL TRAINING</h3>
               <p style="margin-top:0.5cm;line-height: 35px;">One-on-one personalized workouts with a certified personal trainer designed to make you stronger from the inside out.
           </div>    
       </div>
 
    </div>
  </section>

<section id="end">
  
<div class="content_4">
    
  <div class="animated" animateOnScroll animationName="fadeInLeft"> 
        <img class="body" src="../../assets/images/24x7.jpg" width="650px" height="460px" style="margin-left:1cm; margin-top:3cm;" >
    </div>    
    <div class="headline">
        <h4 class="animated" animateOnScroll animationName="fadeInUp" style="font-size:30px; color:#000; margin-left:23cm; font-weight: 800; margin-top:-8cm;letter-spacing: 0.1em;font-family: 'Roboto Slab', serif;">
           Get 24x7 Support From Our Trainers
        </h4>
        <p class="animated" animateOnScroll animationName="fadeIn" style="font-size:16px; margin-top: 45px; color:#000000; font-weight: 400; margin-left: 22cm; letter-spacing: 0.04cm;">Over 100+ Certified Professional Trainers will help you lead a Healthy Lifestyle
        <p class="animated" animateOnScroll animationName="fadeIn" style="font-size:16px; margin-top: 20px; color:#000000; font-weight: 400; margin-left: 28cm; letter-spacing: 0.04cm;"> with  our 24x7 Support. 
    </div>

</div>
<div style="margin-top: 6cm;"><br></div>
</section>

 



