<div class="imageContainer">
    <div style="height: 7cm;"></div>
    <h1>MEMBERSHIP BENEFITS</h1>
</div>

<br><br>

<div class="one">
    <img src="../../assets/images/mem_1.jpg" height="450px" width="800px" style="margin-left: 48%">
 <div class="onetext">
     <br>
  <h2 style="margin-left: 5cm;font-family: 'Titillium Web', sans-serif;;font-weight: 600;"> BENEFITS OF VIBE MEMBERSHIP</h2> <br>
  <ul  style="margin-left: 5.5cm;font-size: 20px;">
  <li>Complimentary Personal Training Session </li> <br>
  <li>15% Discount on 1 YEAR Membership </li> <br>
  <li>25% Discount on the Diet Meals</li> <br>
  </ul>
 </div>
</div>

<button type="button" class="btn btn-outline-dark" (click)="goToPage('join')">Join Now</button>
<br><br><br>

<div class="two">
        <img src="../../assets/images/vibeclub.jpg" height="500px" width="800px" style="margin-left:4cm;">
    <div class="twotext">
        <br>
    <h2 style="margin-left:1cm;font-family: 'Titillium Web', sans-serif;;font-weight: 600;">EVERYTHING YOU WANT IN A GYM</h2> <br>
      <ul  style="margin-left:2cm;font-size: 20px;">
      <li>Air Conditioning</li> <br>
      <li>Steam Rooms</li> <br>
      <li>Suanas</li> <br>
      <li>Locker Services</li><br>
      </ul>
    </div>
</div>

<br><br>
